.parent{
    
    margin: 1rem;
    width:100%;
    height: max-content;
    
    padding: 1rem;
    padding-top: 4rem !important;
    
}
share-buttons {
    padding-top: 0 !important ;
}

.img {
    border: 1px dashed rgb(89, 8, 42);
    width: 100%;
    height: auto;
    padding: .5rem;

}

.img img{
    width: 100%;
    height: auto;
}

.extra_options {
    margin-left: 1rem;
    margin: 1rem;
    padding: .5rem;
    width: 95%;
    height: max-content;
    border: 1px dashed rgb(89, 8, 42);
}

.input_raw input {
    
    width: .9rem !important;
    height: .9rem !important;
    margin: .2rem;
    accent-color: rgb(89, 8, 42);
    cursor: pointer;
    margin-left: 1rem;
}

.input_raw label {
   
    margin-right: .4rem;
    font-size: .9rem;
    accent-color: rgb(89, 8, 42);
    cursor: pointer;
    font-weight: 500;
}

.seg_btn,.recog_btn {
    width: 100%;
    outline: none;
    border: 0;
    padding: .7rem 1rem;
    margin: .3rem;
    background-color:rgb(89, 8, 42);
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    transition: ease-in-out .3s all;
}

p span{
    color: rgb(89, 8, 42);
    font-weight: 700;
    background-color:rgba(89, 8, 42, 0.126); 
    padding: .3rem 1rem;
    border-radius: 30px;
    cursor: pointer;
}

.buttons {
    
    width: 100%;
}



.left_input {
    
    width: 75%;
    height: 4rem;
    border: 0;
    outline: none;
    padding: 0rem 0.1rem;
    color : rgb(89, 8, 42);
    font-size: 1rem;
}

.input_raw2{
    padding-left: .3rem;
    border: 1px solid #000;
    margin : 2rem 0rem;
}

.validate_btn{
    width: 25%;
    outline: none;
    border: 0;
    padding: .7rem .2rem;
    height : 4rem;
    background-color:rgb(89, 8, 42);
    font-size: 2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    transition: ease-in-out .3s all;
}