<div class="parent d-flex flex-column justify-content-center align-items-center">
    
    <div class="buttons-above">
        <button routerLink="/" class="validate_btn"><i class="bi bi-house-door-fill"></i></button>
       
    </div>
    <app-accueil></app-accueil>
    <div class="buttons">
        <button routerLink="/about" class="validate_btn">About us</button>
        <button routerLink="/app" class="validate_btn" >JIP app</button>
        <button routerLink="/guide" class="validate_btn" >How to use</button>
    </div>
</div>