

<div class="parent pt-5">
    <div class=" d-flex flex-column justify-content-center align-items-center pt-5">


        <div class="img mb-3">
            <img src="../../assets/logo3.jpeg">
        </div>

        <div class="jip-card m-3 mb-5">
            <h3 class="p-2">What is JIP ?</h3>
            <p>Jovian Image Processing, is a Web application coded with Python for Back-End and Angular for Front-End, to edit or process JunoCam raw images in order to display details and different zones. We have provided an automatic processing, as users might take the initiative for adding necessary corrections to make a concrete vision of their thoughts. It can also provide image recognition and planet reconstruction from Juno collected images. These features can serve for either science, fun or art purposes. JIP does directly download raw images from JunoCam Website.</p>
        </div>

        </div>
        </div>