<div class="parent">

    <div class="container-fluid">
        <h3>Our team</h3>
        <div class="row pt-3">
            <div class="d-flex flex-column justify-content-center align-items-center col-md-4">
                <div class="img">
                    <img src="assets/4.png"/>
                </div>
                <p>Chaymae</p>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center col-md-4">
                <div class="img">
                    <img src="assets/2.png"/>
                </div>
                <p>Yassir</p>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center col-md-4">
                <div class="img">
                    <img src="assets/5.png"/>
                </div>
                <p>Chourouk</p>
            </div>    
           
        </div>
        <div class="row ">
            <div class="d-flex flex-column justify-content-center align-items-center col-md-4">
                <div class="img">
                    <img src="assets/3.png"/>
                </div>
                <p>Hassan</p>
            </div>    
            <div class="d-flex flex-column justify-content-center align-items-center col-md-4">
                <div class="img">
                    <img src="assets/1.png"/>
                </div>
                <p>Ridouan</p>
            </div>
        </div>
    </div>
    
    
  
</div>