form{
    width: 100%;
}

.parent {
    height: 100%;
}
.left_input {
    height: 4rem;
    border: 0;
    outline: none;
    padding: 1rem;
    color : rgb(89, 8, 42);

}

.right_input {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: 0;
    outline: none;
    
}

.button_option {
    outline: none;
    border: 0;
    height: 4rem;
    margin: 0;
    
    font-size: 1rem;
    font-weight: 600;
    background-color: white;
    color: rgb(89, 8, 42);
    border: 1px solid rgb(89, 8, 42);
}

.active {
    background-color: rgb(89, 8, 42);
    color: #fff;
}

.input_raw{
    border: 1px solid #000;
    margin : 2rem 0rem;
}

.validate_btn{
    outline: none;
    border: 0;
    height: 4rem;
    margin: 0;
    background-color: rgb(89, 8, 42);
    font-size: 1rem;
    font-weight: 600;
    color: white;
}
.left {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-underline-offset: 0;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: 0;
    outline: none;
    height: 50px;
    width: 300px;
    background-color: rgb(87, 209, 211);
    font-size: 1.3rem;
    font-weight: 600;
    color: aliceblue;
    cursor: pointer;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-underline-offset: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: 0;
    outline: none;
    height: 50px;
    width: 300px;
    background-color: rgb(161, 78, 50);
    font-size: 1.3rem;
    font-weight: 600;
    color: aliceblue;
    cursor: pointer;
}

button{
    width: 20rem !important;
    margin: .5rem;
}

.loader img {
    height: 100px;
    width: auto;
}

.loader_absolue  {
    position: absolute;
    z-index: 997;
    background-color: rgba(255, 255, 255, 0.803);
    top: 0;
    bottom : 0;
    left: 0;
    right: 0;
}
.test img {
    height: 80px;
    width: auto;
}