.accueil {
    opacity: 1;
    z-index: 99;
}
.logo-app {
    width: 100%;
    height: auto;
}

.logo-app img {
    width:auto;
    height: 300px;
}
.description {
    margin-bottom: 2rem;
    margin-top : .8rem;
}
.search-bar {
    margin: 0rem;
    width: 100%;
}


